body {
    padding: 0;
    font-family: "Arial", sans
}

h1 {
	text-align: center;
	font-family: "Helvetica", Arial, sans
}

#controls {
	position: absolute;
	top: 1.5em;
	left:1em;
}

#controls button.controlButton {
	height: 2em;
	background: #eee;
	border-radius: 2px;
	border: 1px solid #999;
	outline: 0;
	cursor: pointer;
}

#controls .list {
	position: absolute;
	top:2em;
	border: 1px solid #666;
	background: #fff;
	z-index: 1000;
	width:13em;
	padding:.5em;
	border-radius: 2px;
	box-shadow: 0 1px 6px #999;
	font-size: .8em;
	display: none;
}

#controls .list input {
	float:left;
}

#controls .list .wrapper {
	float: left;
	width: 13em;
}

#projects {
	position: absolute;
	top:8em;
	width:100%;
}

#projects .historic {
	display:none;
	position: relative;
	top: .5em;
}

#projects .historic .event {
	height: 10px;
	width: 10px;
	background: #fff;
	border: 1px solid rgb(49, 39, 131);
	box-sizing: border-box;
	position: absolute;
	border-radius: 10px;
	z-index: 200;
	cursor:pointer;
}

#projects .historic .range {
	position: absolute;
	top:2px;
	height: 6px;
	background: rgb(54, 169, 225);
	box-shadow:0 0 3px rgb(54, 169, 225);
	z-index: 100;
	cursor:pointer;
}

#projects .project {
	margin: 5px 0;
	float: left;
	width:100%;
	height:2em;
}

#projects .project.inactive {
	display: none;
}

#projects .project .projectTitle {
	float:left;
	font-size: .8em;
	text-align: right;
	height: 2em;
  	line-height: 2em;
  	cursor:pointer;
}

#projects .project .projectTitle span {
	display: inline-block;
  	vertical-align: middle;
  	line-height: normal;  
}

#projects .project.historicActive .projectTitle {
	font-weight: bold;
}

#projects .project .line {
border-bottom: 1px dotted gray;
margin-top: 1em;
}

#projects .project .events {
	margin-top:1em;
}

#historic {
	position: absolute;
	top:4.7em;
}

#historic .range {
	position: absolute;
	font-size: .7em;
	text-align: center;
	border-right: 1px solid #999;
	border-left: 1px solid #999;
}

#historic .title {
	float:left;
	background: #fff;
}

#historic .ww1 .title {
	margin-left: 9%;
}

#historic .ww2 .title {
	margin-left:11%
}

#historic .depression .title {
	margin-left: 24%
}

#historic .line {
	width: 100%;
	height: 1px;
	background: #999;
	margin-top: .5em;
}

.grid {
	margin-top: 4em;
}

.grid .year {
	float:left;
	height:100%;
}

.year .title {
	font-size: .5em;
	transform: rotate(-90deg);
	transform-origin: left top 0;
	margin-left:-.5em;
}

.year .gridline {
    border: 1px solid #ccc;
    border-width: 0 1px 1px 0;
    float: left;
    height:100%;
}

.events .event {
	position:absolute;
	margin-top: -5px;
	border-radius:10px;
	cursor:pointer;
	width:10px;
	height:10px;
}

.events .range {
	position: absolute;
	margin-top: -3px;
	cursor:pointer;
}

.events .event.other {
	background: #fff;
	border: 1px solid rgb(49, 39, 131);
	box-sizing: border-box;
	z-index: 3;
}

.events .event.jdr {
	background: rgb(49, 39, 131);
	box-shadow:0 0 3px rgb(252, 234, 16);
	box-sizing: border-box;
	z-index: 4;
}

.events .range.jdr.yes {
	background: rgb(87, 87, 86);
	box-shadow:0 0 3px rgb(227, 6, 19);
	box-sizing: border-box;
	height:6px;
	z-index: 2;
}

.events .range.jdr.peripheral {
	background: rgba(135, 135, 135, 75);
	height:6px;
	z-index: 2;
}

.events .range.jdr.no {
	background: green;
	height:6px;
	z-index: 2;
}

.events .range.other {
	background: gray;
	height:6px;
	z-index: 1;
}

#projects .tooltip {
	position: relative;
	top: 10px;
	font-size: .8em;
	float: left;
	width: 200px;
	padding:.5em;
	background:#fff;
	border: 1px solid #666;
	border-radius:2px;
	box-shadow: 0 0 8px #999;
	display: none;
	z-index: 500;
}

#projects .tooltip:after, #projects .tooltip:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#projects .tooltip:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #fff;
	border-width: 6px;
	margin-left: -6px;
}
#projects .tooltip:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #666;
	border-width: 8px;
	margin-left: -8px;
}